<!DOCTYPE html>
<html>

<head>
  <title>Weak Company</title>
  <%- include('partials/headassets') %>
</head>

<body>
  <%- include('partials/topnav') %>
    Hello
    <%= user.username %> <hr />
    <div class="container">
      <div class="row">
        <div class="span4 offset2">
    Here is your balance:
    <table class="table table-striped">
      <tr>
        <td><b>BTC</b></td><td style="text-align:right"><%= user.balance.btc %></td><td style="text-align:right"><a href="/transfer/btc" class="btn btn-primary">Transfer</a></td>
      </tr>
      <tr>
        <td><b>LTC<b/></td><td  style="text-align:right"><%= user.balance.ltc %></td><td style="text-align:right"><a href="/transfer/ltc" class="btn btn-primary">Transfer</a></td>
      </tr>
    </table>
  </div>
  </div>
  </div>
      <%- include('partials/footer') %>
</body>

</html>
